
.encabezado{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
   width: 100vh;
    
    align-content: center;
}
.seacrhBar{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    
}
.cajitaUser{
    display: flex;
    flex-flow: row;
    align-items: center;
     justify-content: space-between;
    margin: 10px;
    padding: 10px;
}