{% extends 'base_admin.html' %}
{% load static %}


{% block content %}

<!-- usuarios -->
<h1 class="card-title text-center col-lg  col-md-6 col-sm-12 col">Panel Administrativo </h1>
<h1>USUARIOS REGISTRADOS</h1>
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
  
<!-- barra de busqueda usuarios// -->
<div class="card-body" style="max-width: 500px;">
<div class="col-lg  col-md-6 col-sm-12 col">



    <form action="{% url 'search' %}" class="search">
      <div class="input-group w-100">
          <input type="text" class="form-control" style="width:5%;" placeholder="No tocar" name="keyword">

          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </form>



</div> 

</div>
<!-- search-wrap .end// -->
<!-- boton de agg usuarios// -->
<a href="#" class="btn btn-sm btn-success">Agregar +</a>
</nav>

<div class="container-fluid">
   <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre de Usuario</th>
                <th scope="col">Correo Electrónico</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Funciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.date_joinded|date:"d M Y" }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!--colocar los botones de agg al lado de los titulos
MODIFICAR EL COLOR DEL narvar a un color crema
mover el logo a la izquierda
colcoar el titulo en el medio de la pagina y en mayusculas
titulos de las tablas en mayusculas
colocar el total de cada tabla debajo del titulo de cada seccion del panel  
-->

<!-- productos  -->
<h1 >PRODUCTOS REGISTRADOS</h1>
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <!-- barra de busqueda de usuarios -->
<div class="card-body " style="max-width: 500px;">
<div class="col-lg  col-md-6 col-sm-12 col">

    <form action="{% url 'search' %}" class="search">
      <div class="input-group w-100">
          <input type="text" class="form-control" style="width:5%;" placeholder="No tocar" name="keyword">

          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </form> <!-- search-wrap .end// -->
  </div>
</div>
 <a href="#" class="btn btn-sm btn-warning">Agregar + </a>

</nav>


<table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Nombre del Producto</th>
                <th scope="col">precio</th>
                <th scope="col">cantidad</th>
                <th scope="col">Fecha de Registro</th>
                <th scope="col">Funciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ producto.category }}</td>
                <td>{{ producto.product_name }}</td>
                <td>{{ producto.price }} $ </td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.modified_date|date:"d M Y" }}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary">Editar</a>
                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<h1>Ordenes</h1>
<h1 >ORDENES REGISTRADAS</h1>
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <!-- barra de busqueda de usuarios -->
<div class="card-body " style="max-width: 500px;">
<div class="col-lg  col-md-6 col-sm-12 col">

    <form action="{% url 'search' %}" class="search">
      <div class="input-group w-100">
          <input type="text" class="form-control" style="width:5%;" placeholder="No tocar" name="keyword">

          <div class="input-group-append">
            <button class="btn btn-dark" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </form> <!-- search-wrap .end// -->
  </div>
</div>
 <a href="#" class="btn btn-sm btn-warning">Agregar + </a>

</nav>

</div>


{% endblock %}
